.nav-item {
  color: #000;
}

.collapse a:hover span {
 color: #E40B0B;
}

/* .collapse a:hover {
  background-color: #E40B0B;
  color: #fff;
  border-radius: 3px;
} */
header .banner{
  background: #f7f7e8;
  height: 500px;
  padding: 2.5rem 0;
  width: 100%;
}
header .banner .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .banner .desc{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 60%;
}
header .banner img{
  margin: auto;
}
header .banner h1{
color:  #E40B0B;
 text-align: right;
  font-size: 70px;
}

header .banner p{
  text-align: right;
}


.donasi-img-wrapper {
  width: 100%;
  max-height: 190px;
  overflow: hidden;
}

.donasi-img-wrapper img {
  width: 100%;
  height: 100%;
}


/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
   body{
     width: 100%;
   }
   header .banner{
     width: 100%;
   }
   header .banner h1{
     color:  #E40B0B;
     text-align: right;
     font-size: 50px;
   }
   header .banner a{
     margin: auto;
     display: flex;
   }
   .donasi-judul h1{
     width: 100%;
     font-size: 30px;
   }
  #card-donasi{
    width: 100%;
  }

}
