h1{
  font-weight: bold;
}
.nav-item {
  color: #000;
}

.collapse a:hover span {
 color: #E40B0B;
}
header .banner{
  background: #f7f7e8;
  height: 400px;
  padding: 2.5rem 0;
  width: 100%;
}
header .banner .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .banner .desc{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 60%;
}
header .banner img{
  margin: auto;
}
header .banner h1{
color:  #E40B0B;
font-size: 5vmax!important;
}

header .banner p{
  text-align: right;
}

.row{
  align-items: stretch;
  justify-content: stretch
}

.row .card{
  height: 100%;
  align-content: space-between;
}

.card img{
  overflow: hidden;
  width: 100%;
}
.card img:hover{
  transform: scale(1);
}

.kategori p{
  margin:auto;
  align-items: center;
  justify-content: center;
  font-size:18px;
  color: #000;
  font-weight: bold;
  font-family:'Roboto' sans-serif;
}
.kategori .card{
  width: 100%;
  border-radius: 4rem;
}
.kategori .card:hover{
    cursor: pointer;
    box-shadow: 4px 4px 4px #e8e8e8;
    transform: scale(1.1);
}
.card-btn{
  display:block;
  width: 100%;
  padding: 1.5rem;
  text-decoration: none;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}
.card-btn span{
  margin-left: 1rem;
  transition: 0.2s;
}
.card-btn:hover,
.card-btn:active{
  background-color: #c2cffc;
}
.card-btn:hover,
.card-btn:active{
  margin-left: 1.5rem;
}
.carousel-slide{
  width: 100%;
}
.carousel-slide img{
  margin: auto;
  border-style: none;
  object-fit: cover;
  border-radius: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.card img:hover{
  cursor: zoom-out;
}
/* RESPONSIVE */
@media only screen and (max-width: 680px) {
  /* For mobile phones: */
   body{
     width: 100%;
   }
   .banner img{
     display: none;
   }
   header .banner{
     width: 100%;
     height: 300px;
   }
   header .banner .desc{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     flex: 1;
     padding: 0 2rem
   }
   header .banner p{
     text-align: center
   }
   .donasi-judul h1{
     width: 100%;
     font-size: 30px;
   }
   .title-hero{
     padding-top: 2rem;
     padding-bottom: 2px;
   }
   .kategori .card{
       margin-bottom: 3px;
  }

  .card-cara-bayar{
    width: 100%!important;
  }
  #card-donasi{
    display: inline-block;
  }
  .carousel-slide{
    margin-top: 3rem;
  }
  .carousel-slide img{
    margin-bottom: 5px;
    height: 230px;
    border-radius: 16px;
  }
  .donasi-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .donasi-detail .img-detail img{
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
  }
  .donasi-detail-body {
    width: 100%;
  }
  .donasi-detail-title{
    width: 100%;
    font-size: 30px;
  }
  .donasi-detail__sidebar{
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 1.5rem;

  }
  .donasi-detail__sidebar .text-center{
    display: none
  }
  .donasi-share-wa, .donasi-share-fb{

  }
}
